<div id="dialog">
  <h2>Settings</h2>
  <%= form_for @current_user,
      :url => update_user_path, :html => { :method => 'put'}, :remote => true do |f| %>
    
    <%= f.fields_for :preferences do |p| %>
      <div class="form_element">
        <%= p.check_box :open_links_in_new, :checked => @current_user.open_links_in_new? %>
        <%= p.label :open_links_in_new, 'Open external links from posts in a new window/tab' %>
      </div>
      
      <fieldset>
        <legend>Unread post options</legend>
        <div class="form_element">
          <%= p.check_box :unread_in_test, :checked => @current_user.unread_in_test? %>
          <%= p.label :unread_in_test, 'Show unread posts in csh.test' %>
        </div>
        <div class="form_element">
          <%= p.check_box :unread_in_control, :checked => @current_user.unread_in_control? %>
          <%= p.label :unread_in_control, 'Show unread posts in control groups (e.g. control.cancel)' %>
        </div>
        <div class="form_element">
          <%= p.check_box :unread_in_lists, :checked => @current_user.unread_in_lists? %>
          <%= p.label :unread_in_lists, 'Show unread posts in mailing list groups (e.g. csh.lists.alumni)' %>
        </div>
      </fieldset>
      
      <div class="form_element">
        <%= p.label :time_zone, 'Display post times in this time zone:' %>
        <%= p.time_zone_select :time_zone,
          ActiveSupport::TimeZone.us_zones, :default => @current_user.time_zone %>
      </div>
    <% end %>
    
    <p>Your &quot;real name&quot; is taken from the Common Name (CN) field in the CSH LDAP database. You can change this field by using <a href="https://members.csh.rit.edu/profiles/">Member Profiles</a>. This may also change your displayed &quot;real name&quot; on other CSH services.</p>
    
    <div class="buttons">
      <%= f.submit 'Save', :class => 'button green' %>
      <a href="#" class="button red dialog_cancel">Cancel</a>
    </div>
  <% end %>
  
  <div class="loading"></div>
  <div class="errors"></div>
</div>
