<tr>
  <td class="subject">
    <a class="<%= post.personal_class_for_user(@current_user) %><%= unread ? ' unread' : '' %>"
      href="#!<%= post_path(post.newsgroup.name, post.number) %>"><%= post.subject %></a>
  </td>
  <td><%= post.author_name %></td>
  <td>
    <% if post.is_crossposted?(true) %>
      (multiple)
    <% else %>
      <a href="#!<%= posts_path(post.newsgroup.name) %>"><%= post.newsgroup.name %></a></td>
    <% end %>
  <td><%= date.in_time_zone(@current_user.time_zone).strftime(DATE_FORMAT) %></td>
</tr>
