<div id="toolbar">
  <div id="user_info">
    Posting as <span class="real_name"><%= @current_user.real_name %></span>
    <span class="username">(<%= @current_user.username %>)</span>
    <a class="button" href="#?<%= edit_user_path %>">Settings</a>
    <a class="button blue" href="#?/about">?</a>
  </div>
  <div class="buttons">
    <h1>CSH WebNews <span class="beta">Beta</span></h1>
    <a class="button" href="#!/home">Home</a>
    <a id="next_unread" class="button" href="<%= next_unread_href %>">Next Unread</a>
    <a class="button mark_read" href="#~/mark_read">Mark All Read</a>
    <!-- <a class="button" href="#">Search News</a> -->
  </div>
</div>

<div id="groups_list">
  <h2>Newsgroups</h2>
  <nav>
    <%= render 'newsgroups/index' %>
  </nav>
</div>

<div id="group_view">
  <%= render 'shared/spinner' %>
  <% if @new_user %><div id="new_user"></div><% end %>
</div>

<div id="post_view">
</div>

<div id="loader" class="hidden">
  <%= render 'shared/spinner' %>
  <%= render 'shared/overlay' %>
  <div id="ajax_error">
    WebNews is having problems communicating with the server. Please stand by while we retry the connection...
  </div>
</div>

<div id="external_links">
  <%= render 'external_links' %>
</div>
