<%
html_body = ''
quote_depth = 0
post.body.each_line do |line|
  depth_change = (line[/^>[> ]*/] || '').gsub(/\s/, '').length - quote_depth
  line = html_escape(line.chomp)
  if depth_change > 0
    line = ('<blockquote>' * depth_change) + line
  elsif depth_change < 0
    line = ('</blockquote>' * depth_change.abs) + line
  end
  quote_depth += depth_change
  html_body += line + "\n"
end

if @current_user.open_links_in_new?
  html_body = auto_link(html_body, :link => :urls, :sanitize => false, :html => {:target => '_blank'})
  html_body.gsub!(/(<a href="https?:\/\/#{Regexp.escape(request.host)}.*?") target="_blank"/, '\\1')
else
  html_body = auto_link(html_body, :link => :urls, :sanitize => false)
end
%>
<div class="buttons">
  <% if @newsgroup.posting_allowed? %>
    <a class="button"
      href="#?<%= new_post_path(:newsgroup => @newsgroup.name, :number => post.number) %>">Post Reply</a>
  <% end %>
  <a class="button" href="#" onclick="$('#post_view .headers').toggle()">Show Headers</a>
  <% if post.authored_by?(@current_user) and post.children.count == 0 %>
    <!-- <a class="button red" href="#">Cancel Post</a> -->
  <% end %>
</div>
<div id="post_content">
  <h3><%= post.subject %></h3>
  <div class="byline">Posted
    <span class="date"><%= post.date.in_time_zone(@current_user.time_zone).strftime(DATE_FORMAT) %></span>
    by <span class="author">
      <%= post.author_name %><%= ' <' + post.author_email + '>' if post.author_email %>
    </span>
  </div>
  <div class="headers"><%= post.headers %></div>
  <div class="body"><%= raw html_body %></div>
</div>
