<%
html_body = ''
quote_depth = 0
post.body.each_line do |line|
  depth_change = (line[/^>[> ]*/] || '').gsub(/\s/, '').length - quote_depth
  line = html_escape(line.chomp)
  if depth_change > 0
    line = ('<blockquote>' * depth_change) + line
  elsif depth_change < 0
    line = ('</blockquote>' * depth_change.abs) + line
  end
  quote_depth += depth_change
  html_body += line + "\n"
end

if @current_user.open_links_in_new?
  html_body = auto_link(html_body, :link => :urls, :sanitize => false, :html => {:target => '_blank'})
  html_body.gsub!(/(<a href="https?:\/\/#{Regexp.escape(request.host)}.*?") target="_blank"/, '\\1')
else
  html_body = auto_link(html_body, :link => :urls, :sanitize => false)
end

other_groups = nil
if post.is_crossposted?
  other_groups = (post.all_newsgroups - [@newsgroup]).map{ |newsgroup|
    '<a href="#!' + post_path(newsgroup.name, post.in_newsgroup(newsgroup).number) + '">' +
      newsgroup.name + '</a>'
  }
end
%>
<div class="buttons">
  <% if @newsgroup.posting_allowed? %>
    <a class="button new_draft"
      href="#?<%= new_post_path(:newsgroup => @newsgroup.name, :number => post.number) %>">Post Reply</a>
  <% end %>
  <a class="button" href="#" onclick="$('#post_view .headers').toggle()">Show Headers</a>
  <% if post.authored_by?(@current_user) and post.children.count == 0 and @newsgroup.posting_allowed? %>
    <a class="button red" href="#?<%= confirm_destroy_post_path(:newsgroup => @newsgroup.name, :number => post.number) %>">Cancel Post</a>
  <% end %>
</div>
<div id="post_content">
  <div class="info">
    <h3><%= post.subject %></h3>
    <div class="byline">Posted
      <span class="date"><%= post.date.in_time_zone(@current_user.time_zone).strftime(DATE_FORMAT) %></span>
      by <span class="author">
        <%= post.author_name %><%= ' <' + post.author_email + '>' if post.author_email %>
      </span>
    </div>
    <% if post.is_crossposted? %>
      <div class="notice">
        <span class="icon">!</span>
        <% if not other_groups %>
          The author specified that replies to this post should go to <%= post.followup_newsgroup.name %>.
        <% else %>
          This message was cross-posted to <%= raw other_groups.to_sentence %>.
          <% if not post.followup_newsgroup %>
            The author did not specify where replies should go. WebNews will post replies to whichever newsgroup you select, but other news clients may cross-post their replies.
          <% elsif post.followup_newsgroup == @newsgroup %>
            The author specified that replies should go here.
          <% elsif other_groups.length == 1 %>
            The author specified that replies should go <a href="#!<%=
              post_path(post.followup_newsgroup.name, post.in_newsgroup(post.followup_newsgroup).number)
            %>">there</a>.
          <% else %>
            The author specified that replies should go to <a href="#!<%=
              post_path(post.followup_newsgroup.name, post.in_newsgroup(post.followup_newsgroup).number)
            %>"><%= post.followup_newsgroup.name %></a>.
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="headers"><%= post.headers %></div>
  <div class="body"><%= raw html_body %></div>
</div>
